<header id="top-header">
  <h1 id="pcelka-h1" onclick="$('#bee-sound').play()">Pčёlka</h1>
  <audio id="bee-sound" src="/sound/bee.ogg"></audio>
</header>

<%== part "home/report", report: @report %>
<div class="mb3"></div>
<%== part "logs" %>

<nav id="aside-nav">
  <a id="nav-up" class="nav-arrow" title="<%= t.nav.up %>" href="#top-header">
    <%== part "nav/arrow", direction: :up %>
  </a>

  <a id="nav-down" class="nav-arrow" title="<%= t.nav.down %>" href="#logs">
    <%== part "nav/arrow", direction: :down %>
  </a>
</nav>
